In [2]:
import pandas as pd
import numpy as np

In [3]:
doanh_so = pd.read_excel(r'C:\Users\moihandsome\Desktop\TestBI.xlsx', sheet_name='DATA 2 - DOANH SỐ BÁN')

In [4]:
doanh_so

,Danh mục,Giá bán bình quân,Doanh số tháng 6,Doanh số tháng 5,Doanh số tháng 4
0,IPHONE CŨ,11845000.0,3.501120e+10,3.018400e+10,3.421152e+10
1,IPAD CŨ,8625000.0,2.318400e+09,1.344000e+09,1.572480e+09
2,SAMSUNG CŨ,10695000.0,2.934400e+09,2.262400e+09,3.334400e+09
3,VSMART CŨ,2645000.0,2.128000e+08,2.240000e+08,2.195200e+08
4,OPPO CŨ,6440000.0,3.584000e+08,2.128000e+08,2.085440e+08
5,NOKIA CŨ,2990000.0,1.456000e+08,2.240000e+08,2.195200e+08
6,XIAOMI CŨ,4830000.0,3.920000e+08,3.360000e+08,3.292800e+08
7,HUAWEI CŨ,7820000.0,2.464000e+08,1.904000e+08,2.419200e+08
8,APPLE WATCH CŨ,7935000.0,6.384000e+08,7.616000e+08,7.660800e+08
9,REALME CŨ,4140000.0,2.016000e+08,2.128000e+08,3.830400e+08
10,ASUS CŨ,13225000.0,5.600000e+07,1.792000e+08,4.233600e+08
11,KHÁC CŨ,1955000.0,2.240000e+07,1.120000e+07,4.032000e+07
12,MACBOOK CŨ,27945000.0,4.480000e+08,1.904000e+08,2.004000e+08
13,HONOR CŨ,10000000.0,1.120000e+07,8.000000e+06,2.240000e+07

In [5]:
doanh_so = doanh_so.rename(columns={'Doanh số tháng 6' : 'Doanh số 6/2020', 'Doanh số tháng 5' : 'Doanh số 5/2020', 'Doanh số tháng 4' : 'Doanh số 4/2020'})

In [6]:
doanh_so

,Danh mục,Giá bán bình quân,Doanh số 6/2020,Doanh số 5/2020,Doanh số 4/2020
0,IPHONE CŨ,11845000.0,3.501120e+10,3.018400e+10,3.421152e+10
1,IPAD CŨ,8625000.0,2.318400e+09,1.344000e+09,1.572480e+09
2,SAMSUNG CŨ,10695000.0,2.934400e+09,2.262400e+09,3.334400e+09
3,VSMART CŨ,2645000.0,2.128000e+08,2.240000e+08,2.195200e+08
4,OPPO CŨ,6440000.0,3.584000e+08,2.128000e+08,2.085440e+08
5,NOKIA CŨ,2990000.0,1.456000e+08,2.240000e+08,2.195200e+08
6,XIAOMI CŨ,4830000.0,3.920000e+08,3.360000e+08,3.292800e+08
7,HUAWEI CŨ,7820000.0,2.464000e+08,1.904000e+08,2.419200e+08
8,APPLE WATCH CŨ,7935000.0,6.384000e+08,7.616000e+08,7.660800e+08
9,REALME CŨ,4140000.0,2.016000e+08,2.128000e+08,3.830400e+08
10,ASUS CŨ,13225000.0,5.600000e+07,1.792000e+08,4.233600e+08
11,KHÁC CŨ,1955000.0,2.240000e+07,1.120000e+07,4.032000e+07
12,MACBOOK CŨ,27945000.0,4.480000e+08,1.904000e+08,2.004000e+08
13,HONOR CŨ,10000000.0,1.120000e+07,8.000000e+06,2.240000e+07

In [7]:
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTEEne8cFoBE7fjE3oGhatlzaHe6cVup1lX-nfhchw4aVNRNocPaTJtZdy9aEMQ0lRFGUJmOdjGTUIU/pubhtml'
target = pd.read_html(url, encoding='utf-8')

In [8]:
target = target[0]

In [9]:
target

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1,Ngành hàng,PIC,2.020060e+03,2.020050e+03,2.020040e+03
1,2,APPLE WATCH CŨ,NAM,5.727958e+08,4.868037e+08,7.179549e+08
2,3,ASUS CŨ,MINH,5.311258e+07,5.401342e+07,5.608534e+07
3,4,HONOR CŨ,MINH,1.226014e+07,1.010056e+07,1.246366e+07
4,5,HUAWEI CŨ,MINH,2.375502e+08,2.132860e+08,2.756032e+08
5,6,IPAD CŨ,NAM,2.567100e+09,1.905156e+09,2.104315e+09
6,7,IPHONE CŨ,NAM,3.341780e+10,3.720498e+10,3.538307e+10
7,8,KHÁC CŨ,MINH,2.177523e+07,2.449182e+07,2.657449e+07
8,9,MACBOOK CŨ,NAM,4.531818e+08,4.043724e+08,4.468806e+08
9,10,NOKIA CŨ,LAN,1.746691e+08,1.402550e+08,1.182650e+08
10,11,OPPO CŨ,LAN,3.397896e+08,2.924159e+08,3.053206e+08
11,12,REALME CŨ,LAN,2.177679e+08,2.162334e+08,2.018311e+08
12,13,SAMSUNG CŨ,SANG,3.643332e+09,3.129972e+09,3.049235e+09
13,14,VSMART CŨ,SANG,2.122682e+08,2.027651e+08,1.584442e+08
14,15,XIAOMI CŨ,SANG,4.355249e+08,5.072621e+08,3.379701e+08

In [10]:
target = target.drop(target.columns[0],axis = 1)
target = target.drop([0],axis = 0)

In [11]:
target

        Unnamed: 1 Unnamed: 2    Unnamed: 3    Unnamed: 4    Unnamed: 5
1   APPLE WATCH CŨ        NAM  5.727958e+08  4.868037e+08  7.179549e+08
2          ASUS CŨ       MINH  5.311258e+07  5.401342e+07  5.608534e+07
3         HONOR CŨ       MINH  1.226014e+07  1.010056e+07  1.246366e+07
4        HUAWEI CŨ       MINH  2.375502e+08  2.132860e+08  2.756032e+08
5          IPAD CŨ        NAM  2.567100e+09  1.905156e+09  2.104315e+09
6        IPHONE CŨ        NAM  3.341780e+10  3.720498e+10  3.538307e+10
7          KHÁC CŨ       MINH  2.177523e+07  2.449182e+07  2.657449e+07
8       MACBOOK CŨ        NAM  4.531818e+08  4.043724e+08  4.468806e+08
9         NOKIA CŨ        LAN  1.746691e+08  1.402550e+08  1.182650e+08
10         OPPO CŨ        LAN  3.397896e+08  2.924159e+08  3.053206e+08
11       REALME CŨ        LAN  2.177679e+08  2.162334e+08  2.018311e+08
12      SAMSUNG CŨ       SANG  3.643332e+09  3.129972e+09  3.049235e+09
13       VSMART CŨ       SANG  2.122682e+08  2.027651e+08  1.584442e+08
14       XIAOMI CŨ       SANG  4.355249e+08  5.072621e+08  3.379701e+08

In [12]:
target.columns = ['Danh mục', 'PIC', 'Target 6/2020', 'Target 5/2020', 'Target 4/2020']

In [13]:
target

          Danh mục   PIC  Target 6/2020  Target 5/2020  Target 4/2020
1   APPLE WATCH CŨ   NAM   5.727958e+08   4.868037e+08   7.179549e+08
2          ASUS CŨ  MINH   5.311258e+07   5.401342e+07   5.608534e+07
3         HONOR CŨ  MINH   1.226014e+07   1.010056e+07   1.246366e+07
4        HUAWEI CŨ  MINH   2.375502e+08   2.132860e+08   2.756032e+08
5          IPAD CŨ   NAM   2.567100e+09   1.905156e+09   2.104315e+09
6        IPHONE CŨ   NAM   3.341780e+10   3.720498e+10   3.538307e+10
7          KHÁC CŨ  MINH   2.177523e+07   2.449182e+07   2.657449e+07
8       MACBOOK CŨ   NAM   4.531818e+08   4.043724e+08   4.468806e+08
9         NOKIA CŨ   LAN   1.746691e+08   1.402550e+08   1.182650e+08
10         OPPO CŨ   LAN   3.397896e+08   2.924159e+08   3.053206e+08
11       REALME CŨ   LAN   2.177679e+08   2.162334e+08   2.018311e+08
12      SAMSUNG CŨ  SANG   3.643332e+09   3.129972e+09   3.049235e+09
13       VSMART CŨ  SANG   2.122682e+08   2.027651e+08   1.584442e+08
14       XIAOMI CŨ  SANG   4.355249e+08   5.072621e+08   3.379701e+08

In [14]:
df = doanh_so.merge(target, how='outer', on='Danh mục')

In [15]:
df

,Danh mục,Giá bán bình quân,Doanh số 6/2020,Doanh số 5/2020,Doanh số 4/2020,PIC,Target 6/2020,Target 5/2020,Target 4/2020
0,IPHONE CŨ,11845000.0,3.501120e+10,3.018400e+10,3.421152e+10,NAM,3.341780e+10,3.720498e+10,3.538307e+10
1,IPAD CŨ,8625000.0,2.318400e+09,1.344000e+09,1.572480e+09,NAM,2.567100e+09,1.905156e+09,2.104315e+09
2,SAMSUNG CŨ,10695000.0,2.934400e+09,2.262400e+09,3.334400e+09,SANG,3.643332e+09,3.129972e+09,3.049235e+09
3,VSMART CŨ,2645000.0,2.128000e+08,2.240000e+08,2.195200e+08,SANG,2.122682e+08,2.027651e+08,1.584442e+08
4,OPPO CŨ,6440000.0,3.584000e+08,2.128000e+08,2.085440e+08,LAN,3.397896e+08,2.924159e+08,3.053206e+08
5,NOKIA CŨ,2990000.0,1.456000e+08,2.240000e+08,2.195200e+08,LAN,1.746691e+08,1.402550e+08,1.182650e+08
6,XIAOMI CŨ,4830000.0,3.920000e+08,3.360000e+08,3.292800e+08,SANG,4.355249e+08,5.072621e+08,3.379701e+08
7,HUAWEI CŨ,7820000.0,2.464000e+08,1.904000e+08,2.419200e+08,MINH,2.375502e+08,2.132860e+08,2.756032e+08
8,APPLE WATCH CŨ,7935000.0,6.384000e+08,7.616000e+08,7.660800e+08,NAM,5.727958e+08,4.868037e+08,7.179549e+08
9,REALME CŨ,4140000.0,2.016000e+08,2.128000e+08,3.830400e+08,LAN,2.177679e+08,2.162334e+08,2.018311e+08
10,ASUS CŨ,13225000.0,5.600000e+07,1.792000e+08,4.233600e+08,MINH,5.311258e+07,5.401342e+07,5.608534e+07
11,KHÁC CŨ,1955000.0,2.240000e+07,1.120000e+07,4.032000e+07,MINH,2.177523e+07,2.449182e+07,2.657449e+07
12,MACBOOK CŨ,27945000.0,4.480000e+08,1.904000e+08,2.004000e+08,NAM,4.531818e+08,4.043724e+08,4.468806e+08
13,HONOR CŨ,10000000.0,1.120000e+07,8.000000e+06,2.240000e+07,MINH,1.226014e+07,1.010056e+07,1.246366e+07

In [16]:
dff = df[['Danh mục', 'PIC', 'Doanh số 6/2020', 'Target 6/2020', 'Doanh số 5/2020', 'Target 5/2020', 'Doanh số 4/2020', 'Target 4/2020']]

In [17]:
dff

,Danh mục,PIC,Doanh số 6/2020,Target 6/2020,Doanh số 5/2020,Target 5/2020,Doanh số 4/2020,Target 4/2020
0,IPHONE CŨ,NAM,3.501120e+10,3.341780e+10,3.018400e+10,3.720498e+10,3.421152e+10,3.538307e+10
1,IPAD CŨ,NAM,2.318400e+09,2.567100e+09,1.344000e+09,1.905156e+09,1.572480e+09,2.104315e+09
2,SAMSUNG CŨ,SANG,2.934400e+09,3.643332e+09,2.262400e+09,3.129972e+09,3.334400e+09,3.049235e+09
3,VSMART CŨ,SANG,2.128000e+08,2.122682e+08,2.240000e+08,2.027651e+08,2.195200e+08,1.584442e+08
4,OPPO CŨ,LAN,3.584000e+08,3.397896e+08,2.128000e+08,2.924159e+08,2.085440e+08,3.053206e+08
5,NOKIA CŨ,LAN,1.456000e+08,1.746691e+08,2.240000e+08,1.402550e+08,2.195200e+08,1.182650e+08
6,XIAOMI CŨ,SANG,3.920000e+08,4.355249e+08,3.360000e+08,5.072621e+08,3.292800e+08,3.379701e+08
7,HUAWEI CŨ,MINH,2.464000e+08,2.375502e+08,1.904000e+08,2.132860e+08,2.419200e+08,2.756032e+08
8,APPLE WATCH CŨ,NAM,6.384000e+08,5.727958e+08,7.616000e+08,4.868037e+08,7.660800e+08,7.179549e+08
9,REALME CŨ,LAN,2.016000e+08,2.177679e+08,2.128000e+08,2.162334e+08,3.830400e+08,2.018311e+08
10,ASUS CŨ,MINH,5.600000e+07,5.311258e+07,1.792000e+08,5.401342e+07,4.233600e+08,5.608534e+07
11,KHÁC CŨ,MINH,2.240000e+07,2.177523e+07,1.120000e+07,2.449182e+07,4.032000e+07,2.657449e+07
12,MACBOOK CŨ,NAM,4.480000e+08,4.531818e+08,1.904000e+08,4.043724e+08,2.004000e+08,4.468806e+08
13,HONOR CŨ,MINH,1.120000e+07,1.226014e+07,8.000000e+06,1.010056e+07,2.240000e+07,1.246366e+07

In [64]:
dff.to_excel('cau1.xlsx', index=False)

In [ ]:
#phần này làm thêm để nhận xét

In [19]:
dff['PASS 6/2020?'] = np.where(dff['Doanh số 6/2020']>dff['Target 6/2020'],'PASS','NOT')
dff['PASS 5/2020?'] = np.where(dff['Doanh số 5/2020']>dff['Target 5/2020'],'PASS','NOT')
dff['PASS 4/2020?'] = np.where(dff['Doanh số 4/2020']>dff['Target 4/2020'],'PASS','NOT')

In [51]:
dfff = dff[['PASS 6/2020?','PASS 5/2020?','PASS 4/2020?']]

In [52]:
dfff

   PASS 6/2020? PASS 5/2020? PASS 4/2020?
0          PASS          NOT          NOT
1           NOT          NOT          NOT
2           NOT          NOT         PASS
3          PASS         PASS         PASS
4          PASS          NOT          NOT
5           NOT         PASS         PASS
6           NOT          NOT          NOT
7          PASS          NOT          NOT
8          PASS         PASS         PASS
9           NOT          NOT         PASS
10         PASS         PASS         PASS
11         PASS          NOT         PASS
12          NOT          NOT          NOT
13          NOT          NOT         PASS

In [57]:
dffff = dfff.apply(pd.value_counts, axis=1).fillna(0)

In [58]:
dffff

    NOT  PASS
0   2.0   1.0
1   3.0   0.0
2   2.0   1.0
3   0.0   3.0
4   2.0   1.0
5   1.0   2.0
6   3.0   0.0
7   2.0   1.0
8   0.0   3.0
9   2.0   1.0
10  0.0   3.0
11  1.0   2.0
12  3.0   0.0
13  2.0   1.0

In [62]:
dfffff = dff[['PIC']]

In [80]:
a = dfffff.merge(dffff, left_index=True, right_index=True)

In [81]:
a

     PIC  NOT  PASS
0    NAM  2.0   1.0
1    NAM  3.0   0.0
2   SANG  2.0   1.0
3   SANG  0.0   3.0
4    LAN  2.0   1.0
5    LAN  1.0   2.0
6   SANG  3.0   0.0
7   MINH  2.0   1.0
8    NAM  0.0   3.0
9    LAN  2.0   1.0
10  MINH  0.0   3.0
11  MINH  1.0   2.0
12   NAM  3.0   0.0
13  MINH  2.0   1.0

In [101]:
b = a.groupby('PIC').sum()

In [102]:
b

      NOT  PASS
PIC
LAN   5.0   4.0
MINH  5.0   7.0
NAM   8.0   4.0
SANG  5.0   4.0

In [103]:
b['%PASS'] = round((b.PASS / (b.NOT + b.PASS))*100, 2)

In [104]:
b

      NOT  PASS  %PASS
PIC
LAN   5.0   4.0  44.44
MINH  5.0   7.0  58.33
NAM   8.0   4.0  33.33
SANG  5.0   4.0  44.44